

<H2>Python Collections (Arrays)</H2>
There are four collection data types in the Python programming language:

<ul>
<li><B>List</B> is a collection which is <b><u><font color=blue>ordered</font></u></b> and <b><u><font color=blue>changeable</font></u></b>. <b><u><font color=red>Allows</u> duplicate members</font></u></b>.

<li><B>Tuple</B> is a collection which is <b><u><font color=blue>ordered</font></u></b> and <b><u><font color=blue>unchangeable</font></u></b>. <b><u><font color=red>Allows</u> duplicate members</b></u></font>.

<li><B>Set</B> is a collection which is <b><u><font color=red>unordered, unchangeable</u>*</font></b>, and <b><u><font color=red>unindexed</font></u></b>. <b><u><font color=blue>No duplicate members</font></u></b>.

<li><B>Dictionary</B> is a collection which is <b><u><font color=red>ordered</u>**</font></b> and <b><u><font color=red>changeable</font></u></b>. <b><u><font color=blue>No duplicate members</font></u></b>.
</ul>

<B>Reference:- [Link](https://www.w3schools.com/Python/python_tuples.asp)</B>

<B>Q1. Create one variable containing following type of data:

<ol>
  <li>String
  <li>List
  <li>Tuple
  <li>Float
</ol></B>

In [4]:
a='Sahabzada' ##String
b= ["Sahabzada, Betab, Badar"] ##List
c= ('S','B','Badar')  ##Tuple
d= 3.14  ##Float
e= ('Sahabzada',['Sahabzada', 'Betab', 'Badar'], ('S','B','Badar'), 3.14) ## I didn't use set because sets are immutable data type and can not have mutable datatype.

In [5]:
print('a: ', (type(a)))
print('b: ', (type(b)))
print('c: ', (type(c)))
print('d: ', (type(d)))

print('e: ', (type(e)))
print('e[0]: ', (type(e[0])))
print ('e[1]: ', (type(e[1])))
print ('e[1][0]: ', (type(e[1][0])))
print ('e[2]: ', (type(e[2])))
print ('e[2][0]: ', (type(e[2][0])))
print ('e[3]: ', (type(e[3])))

a:  <class 'str'>
b:  <class 'list'>
c:  <class 'tuple'>
d:  <class 'float'>
e:  <class 'tuple'>
e[0]:  <class 'str'>
e[1]:  <class 'list'>
e[1][0]:  <class 'str'>
e[2]:  <class 'tuple'>
e[2][0]:  <class 'str'>
e[3]:  <class 'float'>

<B>Q2. Given are some following variables containing data:
<ol>
  <li>var1 = ‘ ‘
  <li>var2 = ‘[ DS , ML , Python]’
  <li>var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
  <li>var4 = 1.
</ol></B>

<P><B>What will be the data type of the above given variable.

In [6]:
var1='' #string
var2='[DS,ML,Python]' #string
var3= ['DS' , 'ML', 'Python'] #list
var4= 1 #int

In [7]:
print('var1: ', (type(var1)))
print('var2: ', (type(var2)))
print('var3: ', (type(var3)))
print('var4: ', (type(var4)))

var1:  <class 'str'>
var2:  <class 'str'>
var3:  <class 'list'>
var4:  <class 'int'>

<B>Q3. Explain the use of the following operators using an example:</B>

<ol>
<li>/
<li>%
<li>//
<li>**

<ol>
<B><li>/ (Division Operator)</B>- This is one of the arithematic operator which split the mathematical identities into desired equal halves.

<P>In Python we just use it as Numerator/Denominator.
<Br><B>Numerator</B> will be the mathematical identity which we want to split and <Br><B>Denominator</B> will be the no of desired half we want of the numerator.

<P><B> Example:-

In [8]:
56/7

8.0

<ol>
2.<B> % (Modulo Operator)</B>- This is one of the arithematic operator which gives reminder upon implication.

<ul>
<li><B>Reminder</B> meanse the quantity by which numerator is less than being distributed into equal halves of denominator.
</ul>

<P> In Python we just use it as Numerator % Denominator.
<B><P> Example:-

In [9]:
7%2

1

<ol>
3. <B>// (Floor Operator)</B>- This is one of the arithematic operator which upon implication gives result of division before decimal.

<P> In python we just use it as Numerator // Denominator

<P><B> Example:-

In [10]:
5//2

2

<ol>
4. <B>** (Exponentiation Operator)</B>- This is one of the arithematic operator which on implication gives result of exponent.

<P> In Python we just use it as Number ** Exponent

<B><P> Example:-

In [11]:
3**2

9

<B>Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [12]:
var=[100,66.34,2+7j,'badar',[1,'a',('badar',3,4),],("betab", "badar"),{"AIM":"Data_Engineer","Course":"PW_SKILLS"},{1,2,3},True,bin(10)]

In [13]:
for i in var:
  print (type(i))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>
<class 'str'>

**Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.**

In [18]:
A=int(input('Insert a number: '))
B=int(input('Insert a no to check the divisibility '))

while A%B==0:
  C=A/B
  print('It is purely divisible in', C , 'times')
  break;
else:
  print('It is not divisible')

Insert a number: 95
Insert a no to check the divisibility 5
It is purely divisible in 19.0 times

In [19]:
A=int(input('Insert a number: '))
B=int(input('Insert no to check the divisibility '))

if A%B==0:
  C=A/B
  print('It is purely divisible in', C ,'times')
else:
  print('It is not divisible')

Insert a number: 75
Insert no to check the divisibility 5
It is purely divisible in 15.0 times

**Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.**

In [20]:
#Creating 25 random integers
l1=[] # Defining empty list to store 25 random numbers
import random # Importing Library Random
for i in range(25): #
  i=random.randint(1,100)
  l1.append(random.randint(1,100))

In [21]:
print(l1)

[52, 54, 72, 42, 42, 36, 45, 72, 100, 85, 54, 37, 13, 56, 56, 74, 9, 12, 59, 7, 67, 74, 33, 37, 21]

In [22]:
len(l1)

25

In [23]:
for i in l1:
  if int(i%3)==int(0):
    print ([i, "Yes"], end='')
  else:
    print ([i,'N0'], end='')

[52, 'N0'][54, 'Yes'][72, 'Yes'][42, 'Yes'][42, 'Yes'][36, 'Yes'][45, 'Yes'][72, 'Yes'][100, 'N0'][85, 'N0'][54, 'Yes'][37, 'N0'][13, 'N0'][56, 'N0'][56, 'N0'][74, 'N0'][9, 'Yes'][12, 'Yes'][59, 'N0'][7, 'N0'][67, 'N0'][74, 'N0'][33, 'Yes'][37, 'N0'][21, 'Yes']

**Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.**

**Mutable Data Type:** These are the data type whose element or itself can be changed after creation.

**For example:** List

In [24]:
u=[1,2,3,4,5] #List Difinition

In [25]:
u #List

[1, 2, 3, 4, 5]

In [26]:
u[2]=8 #Try to mutate by index

In [27]:
u #successfully mutated the list

[1, 2, 8, 4, 5]

**Immutable Data Type:** These are the data type whose elements or itself can not be changed after creation.

**For example:** Tuple

In [28]:
u1=(1,2,3,4,5) #Tuple Definition

In [29]:
u1 # Tuple

(1, 2, 3, 4, 5)

In [30]:
u1[2]=7 #Try to mutate by index and got failed because of its immutability.

TypeError: 'tuple' object does not support item assignment

# **Approach to modify tuple**

In [31]:
u1 #Tuple

(1, 2, 3, 4, 5)

In [32]:
type(u1) #Checking data type

tuple

In [33]:
u1=list(u1) #converting it into list

In [34]:
type(u1) #checking type

list

In [35]:
u1 #Converted List from Tuple

[1, 2, 3, 4, 5]

In [36]:
u1[2]=7 #Modifing at certain index

In [37]:
print(u1) #Checking modification

[1, 2, 7, 4, 5]

In [38]:
u1= tuple(u1) #Converting List back to Tuple

In [39]:
u1 #Tuple

(1, 2, 7, 4, 5)